{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwind"],
  "tailwindcss.groupByResponsive": true,
  "tailwindcss.groupByVariant": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "postcss"
      }
    }
  ]
}